body {
	margin: 40px auto;
	width: 800px;
	background: #ffc4a9;
}

div#contain {
	height: 600px;
	width: 794px;
	border-left: 3px solid #00ffe7;
	border-right: 3px solid #00ffe7;
	background: #00b2a2;
}

div#bottom_border {
	width: 800px;
	height: 50px;
	background: url("../images/bottom_border.png") top no-repeat;
}

#navigation {
	margin: 0 auto;
	width: 794px;
	height: 50px;
	background: url("../images/top_border.png") top no-repeat;
}

#navigation ul {
	padding: 15px;
}

#navigation ul li {
	margin: 0 15px 0 15px;
	display: inline;
}

#navigation ul li a {
	text-decoration: none;
	font-size: large;
}

#navigation ul li a.active {
	color: #fff;
	background: #b23900;
}
