body {
	margin: 40px auto;
	width: 800px;
	background: #deeff9 url("../images/clouds_background.png") top left repeat-x;
}
div#picture {
	width: 200px;
	height: 200px;
	background: black;
	margin: 20px 30px;
	float: left;
}
div#top_right_text {
	width: 650px;
	float: right;
}
/* layer just on top of background */
div#main_container {
	position: absolute;
	margin: 5px auto;
	width: 800px;
	height: 1000px;
	text-align: center;
}
#back_layer #top {
	background: url("../images/layer_background.png") top left;
	height: 200px;
	width: 800px;
	opacity: 0.4;
}
#back_layer #space_band {
	background: #5058f7;
	position: relative;
	height: 90px;
	left: 10px;
	width: 790px;
}
#back_layer #center {
	background: url("../images/back_middle.png") top left repeat-y;
	height: 500px;
	width: 800px;
	opacity: 0.4;
}
#back_layer #bottom {
	background: url("../images/layer_background.png") bottom left;
	height: 50px;
	width: 800px;
	opacity: 0.4;
}
#menu a {
	top: -135px;
	left: 20px;
	position: relative;
	display: block;
	width: 180px;
	height: 50px;
	margin-right: 5px;
	float: left;
	background-image: url("../images/menu_buttons.png");
	background-repeat: no-repeat;
	cursor: pointer;
	text-indent: -9999px;
}
#diplomas {
	background-position: -20px 0px;
}
#diplomas:hover, #diplomas.hover {
	background-position: -20px -45px;
}
#skills {
	background-position: -200px 0;
}
#skills:hover, #skills.hover {
	background-position: -200px -45px;
}
#hobbies {
	background-position: -400px 0;
}
#hobbies:hover, #hobbies.hover {
	background-position: -400px -45px;
}
#divers {
	background-position: -600px 0;
}
#divers:hover, #divers.hover {
	background-position: -600px -45px;
}
/*top layer */
div#top_layer {
	position: relative;
	top: -740px;
	height: 800px;
	width: 770px;
	left: 20px;
}
div#text_header {
	position: relative;
	background: white;
	height: 195px;
	border:groove #000 1px;
}
#top_layer #picture {
	width: 160px;
	height: 160px;
	float: left;
	margin: 15px;
}
#top_layer #text_picture {
	width: 600px;
	height: 150px;
	float: right;
}
div#menu {
	height: 70px;
}
div#bottom_text {
	height: 450px;
	background: white;
	border:groove #000 1px;
}
