body {
	margin: 40px auto;
	width: 800px;
	background: #deeff9 url("../images/clouds_background.png") top left repeat-x;
}

div#main_container {
	margin: 60px auto;
	width: 800px;
	height: 1000px;
	text-align: center;
}

div#top_header {
	background: url("../images/back_top.png") top left;
	height: 50px;
	width: 800px;
	opacity: 0.4;
}

div#space_band {
	background: blue;
	position: relative;
	height: 50px;
	left: 10px;
	width:790px;
}

div#center_header {
	background: url("../images/back_middle.png") top left repeat-y;
	height: 300px;
	width: 800px;
	opacity: 0.4;
}
div#bottom_header {
	background: url("../images/back_bottom.png") top left;
	height: 50px;
	width: 800px;
	opacity: 0.4;
}

div#text_header {
	position: relative;
	background: white;
	height: 100px;
	top: -315px;
	width: 770px;
	left: 20px;
	opacity: 0.8;
}